/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('https://cdn.vox-cdn.com/thumbor/XEweMW-MCOFLovmfiEwdyjle-ts=/0x0:2048x2048/1200x800/filters:focal(861x861:1187x1187)/cdn.vox-cdn.com/uploads/chorus_image/image/65327601/mobile_MarioKartTour_screen_07_png_jpgcopy.0.jpg');
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

.progress-bar-light-grey {
    color:#000;
    background-color:#f1f1f1
}

.progress-green {
    color:#fff
    ;background-color:#4CAF50
}

.text-center {
    text-align:center
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
